frontend http
  bind *:80
  acl is_master hdr(x-patroni-role) -i master
  use_backend patroni_master if is_master
  default_backend patroni_replicas

backend patroni_master
  server patroni1 patroni1:5432 check
  server patroni2 patroni2:5432 check
  server patroni3 patroni3:5432 check

backend patroni_replicas
  server patroni1 patroni1:5432 check
  server patroni2 patroni2:5432 check
  server patroni3 patroni3:5432 check
